<?xml version="1.0"?>

<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfRest.RestService">
        <endpoint binding="webHttpBinding" contract="WcfRest.IRestService" behaviorConfiguration="webEndpoint" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization serviceAuthorizationManagerType="WcfRest.AuthorizationManager, WcfRest" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webEndpoint">
          <webHttp defaultBodyStyle="Bare" automaticFormatSelectionEnabled="true" helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>